<!-- ссылка на статью тут -->
<a href="#" class="news__card">
	<!-- заголовок статьи тут -->
	<h3 class="news__card-title">Новый египетский отель стал самым большим среди эксклюзивов Coral Travel</h3>
	<div class="news__data-block">
		<!-- источник информации для статьи тут -->
		<span class="news__source">«Вестник АТОР»</span>
		<!-- дата публикации статьи тут -->
		<span class="news__date">24.05.2022</span>
		<!-- кнопка статьи тут (текст кнопки менять не желательно, будут съезды верстки на десктопе) -->
		<button class="news__hover-btn">Подробнее</button>
	</div>
</a>
