<div class="wrapper">
	<section class="benefits">
		<h2 class="benefits__title">Почему выбирают нас</h2>
		<ul class="benefits__list">
			<li class="benefits__item">
				<img src="https://cdn.coral.ru/content/cms/russia/luxury-hotels-turkey/benefit1.png" alt="Концепции отдыха с детьми" class="benefits__ico" />
				<p class="benefits__description">Концепции отдыха с&nbsp;детьми</p>
			</li>
			<li class="benefits__item">
				<img src="https://cdn.coral.ru/content/cms/russia/luxury-hotels-turkey/benefit2.png" alt="Куглосуточное бронирование" class="benefits__ico" />
				<p class="benefits__description">Куглосуточное бронирование</p>
			</li>
			<li class="benefits__item">
				<img src="https://cdn.coral.ru/content/cms/russia/luxury-hotels-turkey/benefit3.png" alt="Удобство и безопасность оплаты" class="benefits__ico" />
				<p class="benefits__description">Удобство и&nbsp;безопасность оплаты</p>
			</li>
			<li class="benefits__item">
				<img src="https://cdn.coral.ru/content/cms/russia/luxury-hotels-turkey/benefit4.png" alt="Акции и программы лояльности" class="benefits__ico" />
				<p class="benefits__description">Акции и&nbsp;программы лояльности</p>
			</li>
			<li class="benefits__item">
				<img src="https://cdn.coral.ru/content/cms/russia/luxury-hotels-turkey/benefit5.png" alt="Мобильный помощник" class="benefits__ico" />
				<p class="benefits__description">Мобильный помощник</p>
			</li>
			<li class="benefits__item">
				<img src="https://cdn.coral.ru/content/cms/russia/luxury-hotels-turkey/benefit6.png" alt="Элитный отдых в Турции" class="benefits__ico" />
				<p class="benefits__description">Элитный отдых в&nbsp;Турции</p>
			</li>
		</ul>
	</section>
</div>
