<a href="#" class="additional__card">
	<div class="additional__img-wrapper">
		<img src="https://cdn.coral.ru/content/cms/russia/pressa/card.png" alt="card" class="additional__card-img" />
		<div class="additional__hover">
			<button class="additional__hover-btn">Подробнее</button>
		</div>
	</div>
	<div class="additional__data-block">
		<span class="additional__date">24.05.2022</span>
		<span class="additional__source">«Вестник АТОР»</span>
	</div>
	<h3 class="additional__card-title">Новый египетский отель стал самым большим среди эксклюзивов Coral Travel</h3>
</a>
