<!-- Цитатный блок -->
<div class="post__quote">
	<div class="post__quote__header">
		<img src="./images/quote.png" alt="" class="post__quote__ico" />
		<!-- Заголовок цитаты (кто сказал данную фразу) -->
		<p class="post__quote__title">Операционный директор OTI&nbsp;Hotels&nbsp;&amp;&nbsp;Resorts Хакан Йылмаз:</p>
	</div>
	<!-- обертка цитатного текста (применение похоже на текстовый блок) -->
	<div class="post__quote__text">
		<p>
			Нам нужно было привнести свою философию, для этого мы&nbsp;в&nbsp;течение 4,5 месяцев обучали персонал. Кроме того, топ-менеджмент и&nbsp;шеф-повар&nbsp;&mdash; из&nbsp;Турции. Все это вместе позволяет нам гарантировать тот сервис, к&nbsp;которому привыкли гости наших флагманских отелей в&nbsp;Турции, например, Xanadu Resort 5*&nbsp;Deluxe в&nbsp;Белеке. Очень тщательно поработали и&nbsp;над питанием. С&nbsp;ответственностью могу
			заявить, что и&nbsp;ассортимент, и&nbsp;качество блюд в&nbsp;нашей новинке в&nbsp;Хургаде, которая тоже работает по&nbsp;системе &laquo;все включено&raquo;, ничем не&nbsp;уступают нашим турецким отелям
		</p>
	</div>
</div>
