<div class="wrapper">
	<section class="footer">
		<div class="footer__left">
			<p class="footer__title">Не знаете, что выбрать?</p>
			<p class="footer__description">Пишите в  чат — мы на связи!</p>
			<div class="footer__social-wrapper">
				<a href="https://wa.me/74952321206?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!" class="footer__social"> <img src="https://cdn.coral.ru/content/cms/russia/exclisive-rest/whatsapp.png" alt="whatsapp" class="footer__social-ico" /> </a> <a href="https://vk.me/coraltravel" class="footer__social"> <img src="https://cdn.coral.ru/content/cms/russia/exclisive-rest/vk.png" alt="vkontakte" class="footer__social-ico" /> </a>
				<a href="https://t.me/coraltravel_telegrambot" class="footer__social"> <img src="https://cdn.coral.ru/content/cms/russia/exclisive-rest/tg.png" alt="telegram" class="footer__social-ico" /> </a> <a href="https://bcrw.apple.com/urn:biz:d3809fd0-e2fe-4027-b27e-ae34bf28e38c" class="footer__social"> <img src="https://cdn.coral.ru/content/cms/russia/exclisive-rest/apple.png" alt="apple" class="footer__social-ico" /> </a>
			</div>
		</div>
		<div class="footer__center"> </div>
		<div class="footer__right">
			<p class="footer__title">Удобнее по телефону?</p>
			<a class="footer__phone" href="tel:+74952321206">+7 (495) 232 12 06</a>
			<p class="footer__description footer__description_right">По заявкам, забронированным онлайн на сайте <a href="/">Coral.ru</a></p>
		</div>
	</section>
</div>
