<link rel="stylesheet" href="./index.css" />
<div class="wrapper">
	<div class="wrapper__two-columns">
		<section class="post">
			<div class="post__data-block">
				<!-- Дата выпуска статьи текст + атрибут datatime (формат ГГГГ-ММ-ДД) -->
				<span class="post__date" datetime="2022-05-24">24.05.2022</span>
				<!-- Источник информации для статьи -->
				<span class="post__source">«Вестник АТОР»</span>
			</div>
			<!-- Заголовок статьи -->
			<h1 class="post__title">Новый египетский отель стал самым большим среди эксклюзивов Coral&nbsp;Travel</h1>
			<!-- Главный баннер статьи -->
			<img src="https://cdn.coral.ru/content/cms/russia/pressa/post__banner.jpg" alt="" class="post__banner" />

			<!-- Обертка отдельно стоящих текстовых блоков -->
			<div class="post__text">
				<!--
                    <p> - просто текст (каждый абзац - в новом теге p),
                    <strong> - жирный текст (обязательно внутри <p>),
                    <а> - ссылка (если ссылка ссылается на страницу внешнюю то обязательно дописать в ней атрибуты rel="nofollow" target="_blank")
                -->
				<p>
					<strong>
						В&nbsp;хорошо известной российским туристам по&nbsp;Турции отельной сети OTI Hotels &amp;&nbsp;Resorts (ее&nbsp;отели эксклюзивно представляет в&nbsp;РФ туроператор Coral Travel) полноценно заработал самый большой по&nbsp;количеству номеров и&nbsp;мест отель&nbsp;&mdash; и&nbsp;он&nbsp;не&nbsp;в&nbsp;Турции, а&nbsp;в&nbsp;Египте. Сеть, как удалось узнать &laquo;Вестнику АТОР&raquo;, намерена выходить и&nbsp;на&nbsp;другие
						рынки.
					</strong>
				</p>
				<p>Как рассказал в&nbsp;беседе с&nbsp;&laquo;Вестником АТОР&raquo; операционный директор OTI Hotels &amp;&nbsp;Resorts Хакан Йылмаз, на&nbsp;настоящий момент сеть представлена 17&nbsp;отелями в&nbsp;Турции, 4&nbsp;&mdash; в&nbsp;Египте и&nbsp;одним&nbsp;&mdash; во&nbsp;Вьетнаме (но&nbsp;этот отель пока закрыт).</p>
				<p>Среди этих 22&nbsp;отелей ключевое место занимают отели, находящиеся в&nbsp;собственности или управлении самой сети. До&nbsp;недавнего времени их&nbsp;было&nbsp;4, и&nbsp;все они&nbsp;&mdash; в&nbsp;Турции.</p>
				<!-- Пример применения ссылки -->
				<p>На&nbsp;российском рынке эти флагманские отели <a href="#">Coral Travel</a> туристы хорошо знают: это Xanadu Resort 5*&nbsp;Deluxe, Seven Seas Hotel Blue&nbsp;5*, Seven Seas Hotel Life 5*&nbsp;и&nbsp;Otium Family Eco Club&nbsp;5*. Всего в&nbsp;них насчитывается 1497&nbsp;номеров, которые способны вместить 3000&nbsp;человек.</p>
				<p>В&nbsp;самом конце апреля 2022 года официально открылся новый отель сети в&nbsp;Египте, находящийся под управлением сети&nbsp;&mdash; <a href="#">Xanadu Makadi Bay 5*</a>&nbsp;в Хургаде. Это третий отель, работающий под люксовым брендом Xanadu&nbsp;&mdash; и&nbsp;он&nbsp;сразу стал рекордсменом OTI Hotels, как по&nbsp;площади территории (500&nbsp;000 кв.м), так и&nbsp;по&nbsp;номерному фонду</p>
				<p>В&nbsp;нем одном&nbsp;&mdash; 815 номеров на&nbsp;2200&nbsp;человек: то&nbsp;есть номерной фонд группы ключевых отелей OTI Hotels &amp;&nbsp;Resorts с&nbsp;появлением египетской новинки сразу увеличился на&nbsp;35%, а&nbsp;количество туристов, которые способны они принять&nbsp;&mdash; на&nbsp;40%. О&nbsp;новинке мы&nbsp;уже писали <a href="#">здесь</a>.</p>
			</div>

			<!-- Внутренняя картинка статьи -->
			<div class="post__image">
				<!-- ссылка на картинку (+ обязателен релевантный alt) -->
				<img src="https://cdn.coral.ru/content/cms/russia/pressa/post__image.jpg" alt="" />
				<!-- подпись под картинкой -->
				<p>Отель Xanadu Makadi Bay 5*&nbsp;в Египте.</p>
			</div>

			<!-- Заголовок 2 уровня -->
			<h2 class="post__title post__title_h2">Турецкие стандарты в Египте</h2>

			<div class="post__text">
				<p>Как отметил г-н Йылмаз, для того, чтобы египетский отель Xanadu Makadi Bay стал настоящим флагманом еще до&nbsp;старта, была проделана большая работа.</p>
			</div>

			<!-- Цитатный блок -->
			<div class="post__quote">
				<div class="post__quote__header">
					<img src="https://cdn.coral.ru/content/cms/russia/pressa/quote.png" alt="" class="post__quote__ico" />
					<!-- Заголовок цитаты (кто сказал данную фразу) -->
					<p class="post__quote__title">Операционный директор OTI&nbsp;Hotels&nbsp;&amp;&nbsp;Resorts Хакан Йылмаз:</p>
				</div>
				<!-- обертка цитатного текста (применение похоже на текстовый блок) -->
				<div class="post__quote__text">
					<p>
						Нам нужно было привнести свою философию, для этого мы&nbsp;в&nbsp;течение 4,5 месяцев обучали персонал. Кроме того, топ-менеджмент и&nbsp;шеф-повар&nbsp;&mdash; из&nbsp;Турции. Все это вместе позволяет нам гарантировать тот сервис, к&nbsp;которому привыкли гости наших флагманских отелей в&nbsp;Турции, например, Xanadu Resort 5*&nbsp;Deluxe в&nbsp;Белеке. Очень тщательно поработали и&nbsp;над питанием.
						С&nbsp;ответственностью могу заявить, что и&nbsp;ассортимент, и&nbsp;качество блюд в&nbsp;нашей новинке в&nbsp;Хургаде, которая тоже работает по&nbsp;системе &laquo;все включено&raquo;, ничем не&nbsp;уступают нашим турецким отелям
					</p>
				</div>
			</div>

			<!-- Обертка текстового блока обязательна даже если текст короткий -->
			<div class="post__text">
				<p>Качество сервиса действительно важно, хотя&nbsp;бы потому, что <a href="#">Xanadu Makadi Bay 5*</a>&nbsp;в Египте работает в&nbsp;весьма редком для этого рынка формате: сюда полностью перенесена вся фирменная концепция Xanadu&nbsp;&mdash; High Class All Inclusive, в&nbsp;которой сервис для гостей предоставляется 24&nbsp;часа в&nbsp;сутки.</p>
			</div>

			<!-- Внутренняя картинка статьи -->
			<div class="post__image">
				<!-- ссылка на картинку (+ обязателен релевантный alt) -->
				<img src="https://cdn.coral.ru/content/cms/russia/pressa/post__image.jpg" alt="" />
				<!-- подпись под картинкой -->
				<p class="post__image-description">Отель Xanadu Makadi Bay 5*&nbsp;в Египте.</p>
			</div>

			<div class="post__text">
				<p>Как и&nbsp;во&nbsp;всех отелях Xanadu, в&nbsp;египетском отеле особое внимание уделяется детям. Детский клуб Fancyland занимает огромную площадь, а&nbsp;Sun Family Club&nbsp;&mdash; авторский детский клуб туроператора Coral Travel с&nbsp;российскими педагогами, уже запустил знакомые ребятам интересные познавательные программы.</p>
				<p>Первый сезон, подчеркивает г-н Йылмаз, египетский отель отработает без прибыли: он&nbsp;будет работать на&nbsp;раскрутку имени и&nbsp;наработку репутации, поэтому в&nbsp;этом году туристам можно надеяться на&nbsp;очень лояльные цены. Напомним, что эксклюзивное право продаж нового отеля, как и&nbsp;везде в&nbsp;OTI Hotels &amp;&nbsp;Resorts&nbsp;&mdash; у&nbsp;<a href="#">туроператора Coral Travel</a>.</p>
			</div>

			<!-- \/ видео блок \/ -->
			<div class="post__video">
				<!-- ссылка на видео вставляется в атрибут src -->
				<iframe title="02.mp4" src="https://player.vimeo.com/video/738235917?h=b5f043a04c&amp;badge=0&amp;autopause=0&amp;background=1&amp;autoplay=0&amp;muted=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
				<div class="post__video__cover">
					<div class="post__video__play-btn">
						<img src="https://cdn.coral.ru/content/cms/russia/pressa/play-button.png" alt="" class="play-btn" />
						<img src="https://cdn.coral.ru/content/cms/russia/pressa/pause-btn.png" alt="" class="pause-btn" />
					</div>
				</div>
			</div>
			<!-- скрипт подключения вимео обязателен! -->
			<script src="https://player.vimeo.com/api/player.js"></script>
			<!-- скрипт настройки видео плеера не кастомизируется -->
			<script>
				document.addEventListener("DOMContentLoaded", () => {
					const videoContainer = document.querySelector(".post__video");
					const video = videoContainer.querySelector("iframe");
					const videoPlayer = new Vimeo.Player(video);
					const videoContainerWidth = videoContainer.getBoundingClientRect().width;
					const videoContainerHeight = videoContainerWidth / 1.75;
					const playBtn = videoContainer.querySelector(".post__video__play-btn");
					const videoCover = videoContainer.querySelector(".post__video__cover");
					videoContainer.style.height = `${videoContainerHeight}px`;

					video.style.height = "100%";
					video.style.width = "100%";

					playBtn.addEventListener("click", () => {
						if (!videoCover.classList.contains("post__video__cover_hidden")) {
							videoCover.classList.add("post__video__cover_hidden");
							videoPlayer.play();
							videoPlayer.muted = 0;
						} else {
							videoCover.classList.remove("post__video__cover_hidden");
							videoPlayer.pause();
							videoPlayer.muted = 1;
						}
					});
				});
			</script>
			<!-- /\ видео блок /\ -->

			<h2 class="post__title post__title_h2">Россияне сразу оценили новый отель</h2>

			<div class="post__text">
				<p>Несмотря на&nbsp;ограниченное количество перелетов из&nbsp;России в&nbsp;Египет, и&nbsp;то, что отель в&nbsp;принципе интернациональный, в&nbsp;Xanadu Makadi Bay 5*&nbsp;уже довольно много россиян. Они, во&nbsp;всяком случае&nbsp;&mdash; на&nbsp;втором месте по&nbsp;доле гостей: 8%.</p>
				<p>Больше только у&nbsp;граждан Польши, но&nbsp;ненамного&nbsp;&mdash; их&nbsp;10%. И&nbsp;это несмотря на&nbsp;то, что россиянам приходится добираться со&nbsp;стыковками, а&nbsp;из&nbsp;Польши в&nbsp;Египет есть и&nbsp;прямые чартеры.</p>
			</div>

			<div class="post__quote">
				<div class="post__quote__header">
					<img src="https://cdn.coral.ru/content/cms/russia/pressa/quote.png" alt="" class="post__quote__ico" />
					<!-- Заголовок цитаты (кто сказал данную фразу) -->
					<p class="post__quote__title">Операционный директор OTI&nbsp;Hotels&nbsp;&amp;&nbsp;Resorts Хакан Йылмаз:</p>
				</div>
				<!-- обертка цитатного текста (применение похоже на текстовый блок) -->
				<div class="post__quote__text">
					<p>По&nbsp;нашим расчетам, если&nbsp;бы прямые перелеты в&nbsp;Египет восстановились в&nbsp;приемлемом объеме, российских гостей было&nbsp;бы порядка&nbsp;30%, они были&nbsp;бы лидерами</p>
				</div>
			</div>

			<div class="post__image">
				<!-- ссылка на картинку (+ обязателен релевантный alt) -->
				<img src="https://cdn.coral.ru/content/cms/russia/pressa/post__image.jpg" alt="" />
				<!-- подпись под картинкой -->
				<p class="post__image-description">Отель Xanadu Makadi Bay 5*&nbsp;в Египте.</p>
			</div>

			<h2 class="post__title post__title_h2">Турецкий сервис могут распространить и&nbsp;на&nbsp;новые рынки</h2>

			<div class="post__text">
				<p>Планы развития сети OTI Hotels &amp;&nbsp;Resorts не&nbsp;ограничиваются новым флагманом в&nbsp;Египте, хотя это, безусловно, важнейшая стратегическая новинка.</p>
				<p>Хакан Йилмаз также рассказал, что на&nbsp;ближайшие несколько лет планы сети предусматривают дальнейшее увеличение количества франчайзинговых отелей и&nbsp;максимальное приближение уровня сервиса в&nbsp;них к&nbsp;&laquo;корневым&raquo; отелям сети.</p>
				<p>При этом, отмечает Хакан Йылмаз, OTI Hotels &amp;&nbsp;Resorts в&nbsp;перспективе рассматривает и&nbsp;расширение географии франчайзинговых отелей: возможно они появятся в&nbsp;Европе. Среди возможных кандидатов рассматриваются такие рынки, как Испания и&nbsp;Греция.</p>
				<p>Что касается планов выхода OTI Hotels &amp;&nbsp;Resorts на&nbsp;рынок в&nbsp;России, то&nbsp;г-н Йылмаз сообщил, что предложит рассмотреть такой вариант на&nbsp;ближайшем совещании руководства сети.</p>
			</div>

			<!-- кнопка с переходом куда-то после статьи -->

			<div class="post__cta">
				<a href="#" class="post__button">Купить тур в XANADU MAKADI BAY</a>
			</div>
		</section>
		<section class="additional">
			<span class="additional__title">Другие статьи</span>
			<div class="additional__cards">
				<a href="#" class="additional__card">
					<div class="additional__img-wrapper">
						<img src="https://cdn.coral.ru/content/cms/russia/pressa/card.png" alt="card" class="additional__card-img" />
						<div class="additional__hover">
							<button class="additional__hover-btn">Подробнее</button>
						</div>
					</div>
					<div class="additional__data-block">
						<span class="additional__date">24.05.2022</span>
						<span class="additional__source">«Вестник АТОР»</span>
					</div>
					<h3 class="additional__card-title">Новый египетский отель стал самым большим среди эксклюзивов Coral Travel</h3>
				</a>

				<a href="#" class="additional__card">
					<div class="additional__img-wrapper">
						<img src="https://cdn.coral.ru/content/cms/russia/pressa/card.png" alt="card" class="additional__card-img" />
						<div class="additional__hover">
							<button class="additional__hover-btn">Подробнее</button>
						</div>
					</div>
					<div class="additional__data-block">
						<span class="additional__date">24.05.2022</span>
						<span class="additional__source">«Вестник АТОР»</span>
					</div>
					<h3 class="additional__card-title">Новый египетский отель стал самым большим среди эксклюзивов Coral Travel</h3>
				</a>

				<a href="#" class="additional__card">
					<div class="additional__img-wrapper">
						<img src="https://cdn.coral.ru/content/cms/russia/pressa/card.png" alt="card" class="additional__card-img" />
						<div class="additional__hover">
							<button class="additional__hover-btn">Подробнее</button>
						</div>
					</div>
					<div class="additional__data-block">
						<span class="additional__date">24.05.2022</span>
						<span class="additional__source">«Вестник АТОР»</span>
					</div>
					<h3 class="additional__card-title">Новый египетский отель стал самым большим среди эксклюзивов Coral Travel</h3>
				</a>
			</div>
		</section>
	</div>
</div>
